@import "./rose-pine.css";

* {
        all: unset;
        font-family: FontAwesome, "DepartureMono Nerd Font", sans-serif;
}

window#waybar {
        background-color: @base;
        color: @text;
        padding: 0px 0px;
}

#workspaces {
        min-width: 100px;
        border-radius: 99px;
        padding: 5px 4px;
        margin: 0px 0px;
}

#workspaces button {
        font-size: 0.1rem;
        background-color: @muted;
        color: transparent;
        padding: 0px 7px;
        border-radius: 99px;
        margin: 0px 3px;
        min-width: 18px;
}

#workspaces button.active {
        background-color: @rose;
        min-width: 2.5rem;
        transition: all 200ms ease-in-out;
}

#clock,
#clock#right {
        font-size: 1.4rem;
        font-weight: 900;
}

#pulseaudio {
        margin-left: 25px;
}
