@import "./themes/gruvbox-material.css";

* {
        all: unset;
        font-family: FontAwesome, "DepartureMono Nerd Font", sans-serif;
}

window#waybar {
        background-color: @base;
        border: 2px @bg_visual_yellow solid;
        border-top: none;
        border-radius: 0 0 10px 10px;
}

#workspaces {
        min-width: 125px;
        border-radius: 99px;
        padding: 10px 10px;
        margin: 0px 0px;
}

#workspaces button {
        background-color: @bg5;
        font-size: 1rem;
        padding: 0px 10px 0 10px;
        color: @iris;
        border-radius: 99px;
        margin: 0px 3px;
        min-width: 25px;
}

#workspaces button.active {
        background-color: @green;
        color: @base;
}

#clock {
        font-weight: 700;
        font-size: 1.2rem;
        color: @text;
}

#tray {
        margin-right: 20px;
}
