@import "./rose-pine.css";

* {
        all: unset;
        font-family: FontAwesome, "DepartureMono Nerd Font", sans-serif;
}

window#waybar {
        background-color: @base;
        border: 2px @highlightHigh solid;
        border-top: none;
        border-radius: 0 0 10px 10px;
}

#workspaces {
        min-width: 200px;
        border-radius: 99px;
        padding: 10px 10px;
        margin: 0px 0px;
}

#workspaces button {
        background-color: @highlightHigh;
        font-size: 1rem;
        padding: 0px 10px 0 10px;
        color: @text;
        border-radius: 99px;
        margin: 0px 3px;
        min-width: 25px;
}

#workspaces button.active {
        background-color: @rose;
        color: @base;
        /*transition: all 200ms ease-in-out;*/
}

#clock#left,
#clock#right {
        font-weight: 900;
        font-size: 20px;
}

#clock#date

#pulseaudio {
        margin-left: 25px;
}
